.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Container-styles {
  min-height: 80vh;
  border-radius: 15px;
  padding-top: 9.6vh;
}

.Cube-styles {
  min-height: 30vh;
  width: 35vh !important;
  border-radius: 15px;
  padding-top: 9.6vh;
}

.App-header {
  background-color: #eceff1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  /* color: white; */
}

.MuiFilledInput-root {
  border-radius: 10px !important;
  margin-bottom: 8px !important;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
