body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.MuiSelect-select {
  padding: 15px 0 15px 15px !important;
}

.MuiButton {
  border-radius: 25px !important;
}

.headerBox {
  background-image: linear-gradient(135deg, #abdcff 10%, #0396ff 100%);
}

.wrapper {
  background-color: #fff;
  display: flex;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.wrapperInElements {
  flex: 1;
  height: 45px;
  margin: 8px;
}

.searchButton {
  margin-top: 7px !important;
}

.jobCardWrapper {
  border: 1px solid #dad9d9;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.jobCardWrapper:hover {
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
  border-left: 20px solid #0396ff;
}
